/* 'https://en.pimg.jp/087/999/469/1/87999469.jpg' */

    #cute-background {
      background-image: url('baby-bacteria.png');
      background-size: 300px; /* Specify the desired size */
      background-repeat: repeat;
      background-position: center;
    }

    .jumbotron {
      background-color: #5e8e05;
      border: 2px solid #111111;
    }
    .jumbotron h1 {
      font-family: "Cherry Bomb One", cursive;
      font-size: 80px;
      color: #066d92;
      margin-top: 5px;
      text-align: center;
    }

    .jumbotron p {
      font-family: "Cherry Bomb One", cursive;
      font-size: 40px;
      color: #066d92;
    }

    .col-md-2 .well {
      background-color: #5e8e05;
      border: 2px solid #111111;
    }

    .col-md-2 h5 {
      font-family: "Cherry Bomb One", cursive;
      font-size: 20px;
      color: #066d92;
    }

    .panel-heading {
      background-color:#5e8e05!important;
    }

    .panel-heading h3.panel-title {
      font-family: "Cherry Bomb One", cursive;
      font-size: 22px;
      color: #066d92;
      text-align: center;
    }

    .panel {
      border: 2px 111111 #111111;
    }

    #gauge {
      border: 2px solid black;
    }
